<nav class="nav-boxes" aria-label="Main navigation">
  <div class="nav-box box-left glow-pulse">
    <ul class="nav-list">
      <li><a href="index.html" data-page="index">home</a></li>
      <li><a href="page2.html" data-page="page2">resume/cv</a></li>
      <li><a href="page5.html" data-page="page5">compositions</a></li>
      <li><a href="friends.html" data-page="friends">friends</a></li>
    </ul>
  </div>
  <div class="nav-box box-right glow-pulse">
    <ul class="nav-list">
      <li><a href="photo-album.html" data-page="photo-album">photo album</a></li>
      <li><a href="music.html" data-page="music">music</a></li>
      <li><a href="page3.html" data-page="page3">artwork</a></li>
      <li><a href="page4.html" data-page="page4">projects</a></li>
    </ul>
  </div>
</nav>
